<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.farmpar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="project.farmpar.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.farmpar.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme1.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="project.farmpar.Service.AlarmReceiverPlant" />

        <service
            android:name="project.farmpar.Notifications.FirstPlant.Notification_Fertilization"
            android:enabled="true" />
        <service
            android:name="project.farmpar.Notifications.FirstPlant.Notification_Irrigation"
            android:enabled="true" />
        <service
            android:name="project.farmpar.Notifications.FirstPlant.Notification_AIrrigation"
            android:enabled="true" />
        <service
            android:name="project.farmpar.Notifications.FirstPlant.Notification_AFertilization"
            android:enabled="true" />

        <activity
            android:name="project.farmpar.ui.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity
            android:name="project.farmpar.ui.ChatActivity"
            android:parentActivityName="project.farmpar.MainChat"
            android:screenOrientation="portrait" />
        <activity
            android:name="project.farmpar.ui.AddGroupActivity"
            android:theme="@style/AppTheme1.NoActionBar" />
        <service
            android:name="project.farmpar.Service.FriendChatService"
            android:exported="false"
            android:persistent="true" />
        <activity
            android:name="project.farmpar.MainChat"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1.NoActionBar"/>
        <activity
            android:name="project.farmpar.ui.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
    </application>
</manifest>